# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [11]:
a = 100
b = 100

print(a == b)
print(a is b)

True
True

Змінні будуть рівні і за значенням, і будуть посилатися на один і той самий об'єкт, оскільки значення від -5 до 256 є зарезервованими у Python

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [13]:
a = 5
print(isinstance(a,bool))
print(isinstance(a,int))

False
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [8]:
integer_num = 10
float_num = 7.256

print(integer_num," + ",float_num," =", integer_num + float_num)
print(integer_num," - ",float_num," =", integer_num - float_num)
print(integer_num," / ",float_num," =", integer_num / float_num)
print(integer_num," * ",float_num," =", integer_num * float_num)
print(integer_num," // ",float_num," =", integer_num // float_num)
print(integer_num," % ",float_num," =", integer_num % float_num)
print(integer_num," ** ",float_num," =", integer_num ** float_num)

10  +  7.256  = 17.256
10  -  7.256  = 2.7439999999999998
10  /  7.256  = 1.3781697905181918
10  *  7.256  = 72.56
10  //  7.256  = 1.0
10  %  7.256  = 2.7439999999999998
10  **  7.256  = 18030177.4085957

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [9]:
float_to_int = int(float_num)
bool_type = True
bool_to_int = int(bool_type)
print(float_to_int)
print(bool_to_int)

7
1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [16]:
empty_str1 = str()
empty_str2 = ""
print(empty_str1)
print(empty_str2)

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [31]:
my_str = "I\'m Ukrainian"
my_str_raw = r"I'm Ukrainian"
print(my_str)
print(my_str_raw)

I'm Ukrainian
I'm Ukrainian

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [32]:
surname = "Makhynia"
formated_str = f"My surname is {surname}"
print(formated_str)

My surname is Makhynia

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [34]:
sentence = "My dog is crazy"
word_list = sentence.split()
print(word_list)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [15]:
list1 = [2, 6, 3, 0]
list2 = list((1, 2, 3, 4, 5))
print(len(list2))

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [17]:
list1.append(list2)
print(list1)

[2, 6, 3, 0, [1, 2, 3, 4, 5]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [29]:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
element = list_of_lists[-1][0]
print(element)

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [20]:
list1 = [1, 3.0, [4, 5], 'six', True, 7, False, 9.0, 544, 'two']
new_list= list1[2:-2]
print(new_list)

[[4, 5], 'six', True, 7, False, 9.0]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [28]:
my_tuple = (1,)
print(my_tuple)

(1,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Спільне: списки, так і кортежі є ітерабельними, можуть зберігати об'єкти різних типів

Відмінне: синтаксис(список створюється за допомогою [ ], а кортеж - за допомогою ( )), кортежі є незмінними, а списки можна змінювати,  кортежі потребують менше пам'яті та обробки

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [26]:
my_tuple = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3, 10.3)
result = my_tuple[::-2]
print(result)

(10.3, 9.3, 7.3, 5.3, 3.3, 1.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [35]:
my_set = set()
my_set.add(1)
my_set.add(5.68)
my_set.add('hello')
print(my_set)

{1, 5.68, 'hello'}

Так, множини є змінним типом данних

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [36]:
my_list = [1, 1, 2, 67, 67, 8, 9]
my_set = set(my_list)
print(my_set)

{1, 2, 67, 8, 9}

У Python множини не можуть містити дублікати елементів. При спробі створення множини зі списку, який містить дублікати, лише унікальні елементи залишаться у множині, а всі дублікати будуть видалені.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [37]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_set = set1.union(set2)
difference_set = set1.difference(set2)
intersection_set = set1.intersection(set2)
symmetric_difference_set = set1.symmetric_difference(set2)
print(union_set)
print(difference_set)
print(intersection_set)
print(symmetric_difference_set)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5}
{1, 2, 3, 6, 7, 8}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [39]:
my_dict = {}
my_dict[1] = "one"
my_dict["two"] = 2
my_dict[3.0] = "three"
my_dict[(4,)] = "four"

my_dict[[5, 54]] = "five"

TypeError: unhashable type: 'list'

Cписки у Python є змінними об'єктами і не можуть бути використані в якості ключів у словниках.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [41]:
my_dict = {
    'outer_key': {
        'inner_key1': {
            'inner_inner_key1': 'value1',
            'inner_inner_key2': 'value2'
        },
        'inner_key2': {
            'inner_inner_key3': 'value3',
            'inner_inner_key4': 'value4'
        }
    }
}
print(my_dict['outer_key']['inner_key1']['inner_inner_key1'])

value1

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.